/dist/*
!/dist/css/
/dist/css/*
!/dist/css/vds.css
!/dist/css/vds.min.css
!/dist/css/vds-rtl.css
!/dist/css/vds-rtl.min.css
!/dist/js/
/dist/js/*
!/dist/js/components/
/dist/js/components/*
!/dist/js/components/.gitkeep
!/dist/js/vds.js
!/dist/js/vds.min.js
!/dist/js/vds-icons.js
!/dist/js/vds-icons.min.js
/node_modules
/tests/js/test*
/tests/css/*
custom
themes.json
.DS_Store
/.idea
/.vscode
