// Name:            Align
// Description:     Utilities to align embedded content
//
// Component:       `vds-align-left-*`
//                  `vds-align-right-*`
//                  `vds-align-center`
//
// ========================================================================

// Variables
// ========================================================================

$align-margin-horizontal: $global-gutter !default;
$align-margin-vertical: $global-gutter !default;

$align-margin-horizontal-l: $global-medium-gutter !default;

/* ========================================================================
   Component: Align
 ========================================================================== */

/*
 * Default
 */

[class*='vds-align'] {
    display: block;
    margin-bottom: $align-margin-vertical;
}

* + [class*='vds-align'] {
    margin-top: $align-margin-vertical;
}

/*
 * Center
 */

.vds-align-center {
    margin-left: auto;
    margin-right: auto;
}

/*
 * Left/Right
 */

.vds-align-left {
    margin-top: 0;
    margin-right: $align-margin-horizontal;
    float: left;
}

.vds-align-right {
    margin-top: 0;
    margin-left: $align-margin-horizontal;
    float: right;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {
    .vds-align-left\@s {
        margin-top: 0;
        margin-right: $align-margin-horizontal;
        float: left;
    }

    .vds-align-right\@s {
        margin-top: 0;
        margin-left: $align-margin-horizontal;
        float: right;
    }
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
    .vds-align-left\@m {
        margin-top: 0;
        margin-right: $align-margin-horizontal;
        float: left;
    }

    .vds-align-right\@m {
        margin-top: 0;
        margin-left: $align-margin-horizontal;
        float: right;
    }
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {
    .vds-align-left\@l {
        margin-top: 0;
        float: left;
    }

    .vds-align-right\@l {
        margin-top: 0;
        float: right;
    }

    .vds-align-left,
    .vds-align-left\@s,
    .vds-align-left\@m,
    .vds-align-left\@l {
        margin-right: $align-margin-horizontal-l;
    }

    .vds-align-right,
    .vds-align-right\@s,
    .vds-align-right\@m,
    .vds-align-right\@l {
        margin-left: $align-margin-horizontal-l;
    }
}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {
    .vds-align-left\@xl {
        margin-top: 0;
        margin-right: $align-margin-horizontal-l;
        float: left;
    }

    .vds-align-right\@xl {
        margin-top: 0;
        margin-left: $align-margin-horizontal-l;
        float: right;
    }
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-align-misc)) {
    @include hook-align-misc();
}

// @mixin hook-align-misc(){}
