// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `vds-container`
//
// Modifier:        `vds-container-small`
//                  `vds-container-large`
//                  `vds-container-expand`
//                  `vds-container-expand-left`
//                  `vds-container-expand-right`
//                  `vds-container-item-padding-remove-left`
//                  `vds-container-item-padding-remove-right`
//
// ========================================================================

// Variables
// ========================================================================

$container-max-width: 1200px !default;
$container-xsmall-max-width: 750px !default;
$container-small-max-width: 900px !default;
$container-large-max-width: 1400px !default;
$container-xlarge-max-width: 1600px !default;

$container-padding-horizontal: 15px !default;
$container-padding-horizontal-s: $global-gutter !default;
$container-padding-horizontal-m: $global-medium-gutter !default;

/* ========================================================================
   Component: Container
 ========================================================================== */

/*
 * 1. Box sizing has to be `content-box` so the max-width is always the same and
 *    unaffected by the padding on different breakpoints. It's important for the size modifiers.
 */

.vds-container {
    display: flow-root;
    /* 1 */
    box-sizing: content-box;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-horizontal;
    padding-right: $container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {
    .vds-container {
        padding-left: $container-padding-horizontal-s;
        padding-right: $container-padding-horizontal-s;
    }
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
    .vds-container {
        padding-left: $container-padding-horizontal-m;
        padding-right: $container-padding-horizontal-m;
    }
}

/*
 * Remove margin from the last-child
 */

.vds-container > :last-child {
    margin-bottom: 0;
}

/*
 * Remove padding from nested containers
 */

.vds-container .vds-container {
    padding-left: 0;
    padding-right: 0;
}

/* Size modifier
 ========================================================================== */

.vds-container-xsmall {
    max-width: $container-xsmall-max-width;
}

.vds-container-small {
    max-width: $container-small-max-width;
}

.vds-container-large {
    max-width: $container-large-max-width;
}

.vds-container-xlarge {
    max-width: $container-xlarge-max-width;
}

.vds-container-expand {
    max-width: none;
}

/* Expand modifier
 ========================================================================== */

/*
 * Expand one side only
 */

.vds-container-expand-left {
    margin-left: 0;
}
.vds-container-expand-right {
    margin-right: 0;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {
    .vds-container-expand-left.vds-container-xsmall,
    .vds-container-expand-right.vds-container-xsmall {
        max-width: unquote(
            'calc(50% + (#{$container-xsmall-max-width} / 2) - #{$container-padding-horizontal-s})'
        );
    }

    .vds-container-expand-left.vds-container-small,
    .vds-container-expand-right.vds-container-small {
        max-width: unquote(
            'calc(50% + (#{$container-small-max-width} / 2) - #{$container-padding-horizontal-s})'
        );
    }
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
    .vds-container-expand-left,
    .vds-container-expand-right {
        max-width: unquote(
            'calc(50% + (#{$container-max-width} / 2) - #{$container-padding-horizontal-m})'
        );
    }

    .vds-container-expand-left.vds-container-xsmall,
    .vds-container-expand-right.vds-container-xsmall {
        max-width: unquote(
            'calc(50% + (#{$container-xsmall-max-width} / 2) - #{$container-padding-horizontal-m})'
        );
    }

    .vds-container-expand-left.vds-container-small,
    .vds-container-expand-right.vds-container-small {
        max-width: unquote(
            'calc(50% + (#{$container-small-max-width} / 2) - #{$container-padding-horizontal-m})'
        );
    }

    .vds-container-expand-left.vds-container-large,
    .vds-container-expand-right.vds-container-large {
        max-width: unquote(
            'calc(50% + (#{$container-large-max-width} / 2) - #{$container-padding-horizontal-m})'
        );
    }

    .vds-container-expand-left.vds-container-xlarge,
    .vds-container-expand-right.vds-container-xlarge {
        max-width: unquote(
            'calc(50% + (#{$container-xlarge-max-width} / 2) - #{$container-padding-horizontal-m})'
        );
    }
}

/* Item
 ========================================================================== */

/*
 * Utility classes to reset container padding on the left or right side
 * Note: It has to be negative margin on the item, because it's specific to the item.
 */

.vds-container-item-padding-remove-left,
.vds-container-item-padding-remove-right {
    width: unquote('calc(100% + #{$container-padding-horizontal})');
}

.vds-container-item-padding-remove-left {
    margin-left: (-$container-padding-horizontal);
}
.vds-container-item-padding-remove-right {
    margin-right: (-$container-padding-horizontal);
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {
    .vds-container-item-padding-remove-left,
    .vds-container-item-padding-remove-right {
        width: unquote('calc(100% + #{$container-padding-horizontal-s})');
    }

    .vds-container-item-padding-remove-left {
        margin-left: (-$container-padding-horizontal-s);
    }
    .vds-container-item-padding-remove-right {
        margin-right: (-$container-padding-horizontal-s);
    }
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
    .vds-container-item-padding-remove-left,
    .vds-container-item-padding-remove-right {
        width: unquote('calc(100% + #{$container-padding-horizontal-m})');
    }

    .vds-container-item-padding-remove-left {
        margin-left: (-$container-padding-horizontal-m);
    }
    .vds-container-item-padding-remove-right {
        margin-right: (-$container-padding-horizontal-m);
    }
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-container-misc)) {
    @include hook-container-misc();
}

// @mixin hook-container-misc(){}
