// Name:            Drop
// Description:     Component to position any element next to any other element.
//
// Component:       `vds-drop`
//
// Modifiers:       `vds-drop-top-*`
//                  `vds-drop-bottom-*`
//                  `vds-drop-left-*`
//                  `vds-drop-right-*`
//                  `vds-drop-stack`
//                  `vds-drop-grid`
//
// States:          `vds-open`
//
// Uses:            Animation
//
// ========================================================================

// Variables
// ========================================================================

$drop-z-index: $global-z-index + 20 !default;
$drop-margin: $global-margin !default;
$drop-width: 300px !default;

/* ========================================================================
   Component: Drop
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Set a default width
 */

.vds-drop {
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: $drop-z-index;
    --vds-position-margin-offset: #{$drop-margin};
    /* 3 */
    box-sizing: border-box;
    width: $drop-width;
    max-width: 100vw;
}

/* Show */
.vds-drop.vds-open {
    display: block;
}

/* Grid modifiers
 ========================================================================== */

.vds-drop-stack .vds-drop-grid > * {
    width: 100% !important;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-drop-misc)) {
    @include hook-drop-misc();
}

// @mixin hook-drop-misc(){}
