// Name:            Lightbox
// Description:     Component to create an lightbox image gallery
//
// Component:       `vds-lightbox`
//
// Sub-objects:     `vds-lightbox-page`
//                  `vds-lightbox-items`
//                  `vds-lightbox-toolbar`
//                  `vds-lightbox-toolbar-icon`
//                  `vds-lightbox-button`
//                  `vds-lightbox-caption`
//                  `vds-lightbox-iframe`
//
// States:          `vds-open`
//
// ========================================================================

// Variables
// ========================================================================

$lightbox-z-index: $global-z-index + 10 !default;
$lightbox-background: #000 !default;

$lightbox-focus-outline: rgba(255, 255, 255, 0.7) !default;

$lightbox-item-color: rgba(255, 255, 255, 0.7) !default;
$lightbox-item-max-width: 100vw !default;
$lightbox-item-max-height: 100vh !default;

$lightbox-toolbar-padding-vertical: 10px !default;
$lightbox-toolbar-padding-horizontal: 10px !default;
$lightbox-toolbar-background: rgba(0, 0, 0, 0.3) !default;
$lightbox-toolbar-color: rgba(255, 255, 255, 0.7) !default;

$lightbox-toolbar-icon-padding: 5px !default;
$lightbox-toolbar-icon-color: rgba(255, 255, 255, 0.7) !default;

$lightbox-toolbar-icon-hover-color: #fff !default;

$lightbox-button-size: 50px !default;
$lightbox-button-background: $lightbox-toolbar-background !default;
$lightbox-button-color: rgba(255, 255, 255, 0.7) !default;

$lightbox-button-hover-color: #fff !default;

/* ========================================================================
   Component: Lightbox
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Allow scrolling for the modal dialog
 * 4. Horizontal padding
 * 5. Mask the background page
 * 6. Fade-in transition
 * 7. Prevent cancellation of pointer events while dragging
 */

.vds-lightbox {
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $lightbox-z-index;
    /* 5 */
    background: $lightbox-background;
    /* 6 */
    opacity: 0;
    transition: opacity 0.15s linear;
    /* 7 */
    touch-action: pinch-zoom;
    @if (mixin-exists(hook-lightbox)) {
        @include hook-lightbox();
    }
}

/*
 * Open
 * 1. Center child
 * 2. Fade-in
 */

.vds-lightbox.vds-open {
    display: block;
    /* 2 */
    opacity: 1;
}

/*
 * Focus
 */

.vds-lightbox :focus {
    outline-color: $lightbox-focus-outline;
}
.vds-lightbox :focus-visible {
    outline-color: $lightbox-focus-outline;
}

/* Page
 ========================================================================== */

/*
 * Prevent scrollbars
 */

.vds-lightbox-page {
    overflow: hidden;
}

/* Item
 ========================================================================== */

/*
 * 1. Center child within the viewport
 * 2. Not visible by default
 * 3. Color needed for spinner icon
 * 4. Optimize animation
 * 5. Responsiveness
 *    Using `vh` for `max-height` to fix image proportions after resize in Safari and Opera
 */

.vds-lightbox-items > * {
    /* 1 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 2 */
    display: none;
    justify-content: center;
    align-items: center;
    /* 3 */
    color: $lightbox-item-color;
    /* 4 */
    will-change: transform, opacity;
    @if (mixin-exists(hook-lightbox-item)) {
        @include hook-lightbox-item();
    }
}

/* 5 */
.vds-lightbox-items > * > * {
    max-width: $lightbox-item-max-width;
    max-height: $lightbox-item-max-height;
}

.vds-lightbox-items > * > :not(iframe) {
    width: auto;
    height: auto;
}

.vds-lightbox-items > .vds-active {
    display: flex;
}

/* Toolbar
 ========================================================================== */

.vds-lightbox-toolbar {
    padding: $lightbox-toolbar-padding-vertical $lightbox-toolbar-padding-horizontal;
    background: $lightbox-toolbar-background;
    color: $lightbox-toolbar-color;
    @if (mixin-exists(hook-lightbox-toolbar)) {
        @include hook-lightbox-toolbar();
    }
}

.vds-lightbox-toolbar > * {
    color: $lightbox-toolbar-color;
}

/* Toolbar Icon (Close)
 ========================================================================== */

.vds-lightbox-toolbar-icon {
    padding: $lightbox-toolbar-icon-padding;
    color: $lightbox-toolbar-icon-color;
    @if (mixin-exists(hook-lightbox-toolbar-icon)) {
        @include hook-lightbox-toolbar-icon();
    }
}

/*
 * Hover
 */

.vds-lightbox-toolbar-icon:hover {
    color: $lightbox-toolbar-icon-hover-color;
    @if (mixin-exists(hook-lightbox-toolbar-icon-hover)) {
        @include hook-lightbox-toolbar-icon-hover();
    }
}

/* Button (Slidenav)
 ========================================================================== */

/*
 * 1. Center icon vertically and horizontally
 */

.vds-lightbox-button {
    box-sizing: border-box;
    width: $lightbox-button-size;
    height: $lightbox-button-size;
    background: $lightbox-button-background;
    color: $lightbox-button-color;
    /* 1 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @if (mixin-exists(hook-lightbox-button)) {
        @include hook-lightbox-button();
    }
}

/* Hover */
.vds-lightbox-button:hover {
    color: $lightbox-button-hover-color;
    @if (mixin-exists(hook-lightbox-button-hover)) {
        @include hook-lightbox-button-hover();
    }
}

/* OnClick */
.vds-lightbox-button:active {
    @if (mixin-exists(hook-lightbox-button-active)) {
        @include hook-lightbox-button-active();
    }
}

/* Caption
 ========================================================================== */

.vds-lightbox-caption:empty {
    display: none;
}

/* Iframe
 ========================================================================== */

.vds-lightbox-iframe {
    width: 80%;
    height: 80%;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-lightbox-misc)) {
    @include hook-lightbox-misc();
}

// @mixin hook-lightbox(){}
// @mixin hook-lightbox-item(){}
// @mixin hook-lightbox-toolbar(){}
// @mixin hook-lightbox-toolbar-icon(){}
// @mixin hook-lightbox-toolbar-icon-hover(){}
// @mixin hook-lightbox-button(){}
// @mixin hook-lightbox-button-hover(){}
// @mixin hook-lightbox-button-active(){}
// @mixin hook-lightbox-misc(){}
