// Name:            Position
// Description:     Utilities to position content
//
// Component:       `vds-position-absolute`
//                  `vds-position-relative`
//                  `vds-position-z-index`
//                  `vds-position-top`
//                  `vds-position-bottom`
//                  `vds-position-left`
//                  `vds-position-right`
//                  `vds-position-top-left`
//                  `vds-position-top-center`
//                  `vds-position-top-right`
//                  `vds-position-bottom-left`
//                  `vds-position-bottom-center`
//                  `vds-position-bottom-right`
//                  `vds-position-center`
//                  `vds-position-center-left`
//                  `vds-position-center-right`
//                  `vds-position-cover`
//
// Modifiers:       `vds-position-small`
//                  `vds-position-medium`
//                  `vds-position-large`
//
// ========================================================================

// Variables
// ========================================================================

$position-small-margin: $global-small-gutter !default;
$position-medium-margin: $global-gutter !default;
$position-large-margin: $global-gutter !default;
$position-large-margin-l: 50px !default;

/* ========================================================================
   Component: Position
 ========================================================================== */

:root {
    --vds-position-margin-offset: 0px;
}

/* Directions
 ========================================================================== */

/*
 * 1. Prevent content overflow.
 */

[class*='vds-position-top'],
[class*='vds-position-bottom'],
[class*='vds-position-left'],
[class*='vds-position-right'],
[class*='vds-position-center'] {
    position: absolute !important;
    /* 1 */
    max-width: unquote('calc(100% - (var(--vds-position-margin-offset) * 2))');
    box-sizing: border-box;
}

/*
 * Edges
 * Don't use `width: 100%` because it's wrong if the parent has padding.
 */

.vds-position-top {
    top: 0;
    left: 0;
    right: 0;
}

.vds-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.vds-position-left {
    top: 0;
    bottom: 0;
    left: 0;
}

.vds-position-right {
    top: 0;
    bottom: 0;
    right: 0;
}

/*
 * Corners
 */

.vds-position-top-left {
    top: 0;
    left: 0;
}

.vds-position-top-right {
    top: 0;
    right: 0;
}

.vds-position-bottom-left {
    bottom: 0;
    left: 0;
}

.vds-position-bottom-right {
    bottom: 0;
    right: 0;
}

/*
 * Center
 * 1. Fix text wrapping if content is larger than 50% of the container.
 *    Using `max-content` requires `max-width` of 100% which is set generally.
 */

.vds-position-center {
    top: unquote('calc(50% - var(--vds-position-margin-offset))');
    left: unquote('calc(50% - var(--vds-position-margin-offset))');
    --vds-position-translate-x: -50%;
    --vds-position-translate-y: -50%;
    transform: translate(var(--vds-position-translate-x), var(--vds-position-translate-y));
    /* 1 */
    width: max-content;
}

/* Vertical */
[class*='vds-position-center-left'],
[class*='vds-position-center-right'] {
    top: unquote('calc(50% - var(--vds-position-margin-offset))');
    --vds-position-translate-y: -50%;
    transform: translate(0, var(--vds-position-translate-y));
}

.vds-position-center-left {
    left: 0;
}
.vds-position-center-right {
    right: 0;
}

.vds-position-center-left-out {
    right: 100%;
    width: max-content;
}

.vds-position-center-right-out {
    left: 100%;
    width: max-content;
}

/* Horizontal */
.vds-position-top-center,
.vds-position-bottom-center {
    left: unquote('calc(50% - var(--vds-position-margin-offset))');
    --vds-position-translate-x: -50%;
    transform: translate(var(--vds-position-translate-x), 0);
    /* 1 */
    width: max-content;
}

.vds-position-top-center {
    top: 0;
}
.vds-position-bottom-center {
    bottom: 0;
}

/*
 * Cover
 */

.vds-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Margin
 ========================================================================== */

.vds-position-small {
    margin: $position-small-margin;
    --vds-position-margin-offset: #{$position-small-margin};
}

.vds-position-medium {
    margin: $position-medium-margin;
    --vds-position-margin-offset: #{$position-medium-margin};
}

.vds-position-large {
    margin: $position-large-margin;
    --vds-position-margin-offset: #{$position-large-margin};
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {
    .vds-position-large {
        margin: $position-large-margin-l;
        --vds-position-margin-offset: #{$position-large-margin-l};
    }
}

/* Schemes
 ========================================================================== */

.vds-position-relative {
    position: relative !important;
}
.vds-position-absolute {
    position: absolute !important;
}
.vds-position-fixed {
    position: fixed !important;
}
.vds-position-sticky {
    position: sticky !important;
}

/* Layer
 ========================================================================== */

.vds-position-z-index {
    z-index: 1;
}

.vds-position-z-index-negative {
    z-index: -1;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-position-misc)) {
    @include hook-position-misc();
}

// @mixin hook-position-misc(){}
