// Name:            Sortable
// Description:     Component to create sortable grids and lists
//
// Component:       `vds-sortable`
//
// Sub-objects:     `vds-sortable-drag`
//                  `vds-sortable-placeholder`
//                  `vds-sortable-handle`
//
// Modifiers:       `vds-sortable-empty`
//
// States:          `vds-drag`
//
// ========================================================================

// Variables
// ========================================================================

$sortable-dragged-z-index: $global-z-index + 50 !default;

$sortable-placeholder-opacity: 0 !default;

$sortable-empty-height: 50px !default;

/* ========================================================================
   Component: Sortable
 ========================================================================== */

.vds-sortable {
    position: relative;
    @if (mixin-exists(hook-sortable)) {
        @include hook-sortable();
    }
}

/*
 * Remove margin from the last-child
 */

.vds-sortable > :last-child {
    margin-bottom: 0;
}

/* Drag
 ========================================================================== */

.vds-sortable-drag {
    position: fixed !important;
    z-index: $sortable-dragged-z-index !important;
    pointer-events: none;
    @if (mixin-exists(hook-sortable-drag)) {
        @include hook-sortable-drag();
    }
}

/* Placeholder
 ========================================================================== */

.vds-sortable-placeholder {
    opacity: $sortable-placeholder-opacity;
    pointer-events: none;
    @if (mixin-exists(hook-sortable-placeholder)) {
        @include hook-sortable-placeholder();
    }
}

/* Empty modifier
 ========================================================================== */

.vds-sortable-empty {
    min-height: $sortable-empty-height;
    @if (mixin-exists(hook-sortable-empty)) {
        @include hook-sortable-empty();
    }
}

/* Handle
 ========================================================================== */

/* Hover */
.vds-sortable-handle:hover {
    cursor: move;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-sortable-misc)) {
    @include hook-sortable-misc();
}

// @mixin hook-sortable(){}
// @mixin hook-sortable-drag(){}
// @mixin hook-sortable-placeholder(){}
// @mixin hook-sortable-empty(){}
// @mixin hook-sortable-misc(){}
