// Name:            Tooltip
// Description:     Component to create tooltips
//
// Component:       `vds-tooltip`
//
// Modifiers        `vds-tooltip-top`
//                  `vds-tooltip-top-left`
//                  `vds-tooltip-top-right`
//                  `vds-tooltip-bottom`
//                  `vds-tooltip-bottom-left`
//                  `vds-tooltip-bottom-right`
//                  `vds-tooltip-left`
//                  `vds-tooltip-right`
//
// States:          `vds-active`
//
// ========================================================================

// Variables
// ========================================================================

$tooltip-z-index: $global-z-index + 30 !default;
$tooltip-margin: 10px !default;
$tooltip-max-width: 200px !default;
$tooltip-padding-vertical: 3px !default;
$tooltip-padding-horizontal: 6px !default;
$tooltip-background: #666 !default;
$tooltip-border-radius: 2px !default;
$tooltip-color: $global-inverse-color !default;
$tooltip-font-size: 12px !default;

/* ========================================================================
   Component: Tooltip
 ========================================================================== */

/*
 * 1. Hide by default
 * 2. Position
 * 3. Remove tooltip from document flow to keep the Vira Design System container from changing its size when injected into the document initially
 * 4. Dimensions
 * 5. Style
 */

.vds-tooltip {
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: $tooltip-z-index;
    --vds-position-margin-offset: #{$tooltip-margin};
    /* 3 */
    top: 0;
    /* 4 */
    box-sizing: border-box;
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-vertical $tooltip-padding-horizontal;
    /* 5 */
    background: $tooltip-background;
    border-radius: $tooltip-border-radius;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    @if (mixin-exists(hook-tooltip)) {
        @include hook-tooltip();
    }
}

/* Show */
.vds-tooltip.vds-active {
    display: block;
}

// Hooks
// ========================================================================

@if (mixin-exists(hook-tooltip-misc)) {
    @include hook-tooltip-misc();
}

// @mixin hook-tooltip(){}
// @mixin hook-tooltip-misc(){}
