// Buttons
//
// Custom buttons for the docs.

// scss-docs-start btn-css-vars-example
.btn-bd-primary {
  --vds-btn-font-weight: 600;
  --vds-btn-color: var(--vds-white);
  --vds-btn-bg: var(--bd-violet);
  --vds-btn-border-color: var(--bd-violet);
  --vds-btn-hover-color: var(--vds-white);
  --vds-btn-hover-bg: #{shade-color($bd-violet, 20%)};
  --vds-btn-hover-border-color: #{shade-color($bd-violet, 20%)};
  --vds-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
// scss-docs-end btn-css-vars-example

.btn-bd-accent {
  --vds-btn-font-weight: 600;
  --vds-btn-color: var(--bd-accent);
  --vds-btn-border-color: var(--bd-accent);
  --vds-btn-hover-color: var(--bd-dark);
  --vds-btn-hover-bg: var(--bd-accent);
  --vds-btn-hover-border-color: var(--bd-accent);
  --vds-btn-focus-shadow-rgb: var(--bd-accent-rgb);
}

.btn-bd-light {
  --vds-btn-color: var(--vds-gray-600);
  --vds-btn-border-color: var(--vds-gray-300);
  --vds-btn-active-color: var(--bd-violet);
  --vds-btn-active-bg: var(--vds-white);
  --vds-btn-active-border-color: var(--bd-violet);
  --vds-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
